<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="freeBoardMapper">
	<resultMap type ="free.model.vo.FreeBoard" id="freeBoardResultMap">
		<id     property="freeBoardNo"      column ="FREE_NO"/>
		<result property="freeBoardSubject" column="FREE_SUBJECT"/>
		<result property="freeBoardContent" column="FREE_CONTENT"/>
		<result property="freeBoardWriter"  column="FREE_WRITER"/>
		<result property="uploadDate"    column="UPLOAD_DATE"/>
		<result property="updateDate"    column="UPDATE_DATE"/>
		<result property="viewCount"     column="VIEW_COUNT"/>
	</resultMap>

	<insert id="insertBoard">  
  		INSERT INTO FREEBOARD_TBL VALUES(SEQ_FREENO.NEXTVAL,#{freeBoardSubject},#{freeBoardContent},#{freeBoardWriter}, DEFAULT, DEFAULT, DEFAULT)
 	</insert>
 	
 	
 	<select id="selectBoardList" resultMap="freeBoardResultMap"> 
  		SELECT * FROM FREEBOARD_TBL ORDER BY FREE_NO DESC  
  	</select>
  	
  	<select id="selectOneByNo" resultMap="freeBoardResultMap">
  		SELECT * FROM FREEBOARD_TBL WHERE FREE_NO=#{freeBoardNo}
  	</select>


</mapper>